@use '../abstracts/index' as *;

.game {
  height: 100vh;

  background: var(--color-bg);

  &__block {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__balance {
    margin-top: 10px;
    color: white;
    span {
      color: black;
    }
  }

  &__button {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-transform: uppercase;
    background: var(--color-primary);
    border: 3px solid #ff6ec7;
    font-size: 32px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;

    @include hover-effect {
      background: var(--color-to-primary);
      border-color: #1e3c72;
    }
  }
}
