@use '../abstracts' as *;

.update {
  &__block {
    margin-top: 10px;
    width: 500px;
    height: 150px;
    background: var(--color-to-primary);
    border-radius: 16px;
  }

  &__title {
    color: var(--color-light);
    text-transform: uppercase;
  }

  &__list {
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  &__text {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--color-dark);

    span {
      color: var(--color-light);
    }
  }

  &__button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-weight: 600;
    color: var(--color-light);
    border: none;

    background: var(--color-primary);

    @include hover-effect {
      background: var(--color-to-primary);
      color: var(--color-dark);
    }
  }
}
